---
import { type Product, products } from '../../../data';
import Layout from '../../../layouts/Layout.astro';

const { slug } = Astro.params;

export function getStaticPaths() {
  return [
    ...products.map((product) => ({
      params: {
        slug: product.slug,
      },
    })),
  ];
}

const product = products.find((product) => product.slug === slug) as Product;
---

<Layout title={product.name} description={product.description}>
  <section class="product">
    <figure class="product__img" transition:name={`${slug} image`}>
      <img src={`${product.imgFull}`} width="300" height="400" alt="" />
    </figure>
    <article class="product__content">
      <h1 class="title-product" transition:name={`${slug} title`}>
        {product.name}
      </h1>
      <p class="display-p" transition:name={`${slug} description`}>
        {product.description}
      </p>
      <div class="product-actions" transition:name={`${slug} actions`}>
        <div class="">
          {product.price} €
        </div>
        <div>
          <button type="button" class="btn">Add to cart</button>
        </div>
      </div>
      <div class="notes animate-in">
        {product.notes}
      </div>
    </article>
  </section>
</Layout>

<style>
  .product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;

    @media(min-width: 575px) {
      grid-template-columns: 1fr 3fr;
    }
    &__content {
      display: grid;
      gap: 16px;
    }
  }

  .product-actions {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
  }

  .title-product {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  .display-p {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .notes {
    font-style: italic;
    font-size: .9rem;
    margin-top: 24px;
    color: #141414;
  }
</style>
