---
import type { Product } from '../data';

interface Props {
  product: Product;
}

const { product } = Astro.props;
const slug = product.slug;
---

<div>
  <article>
    <a
      href={`/product/${product.slug}`}
      class=""
      transition:name={`${slug} image`}>
      <img src={`${product.img}`} width="300" height="200" alt="" />
    </a>
    <h3 class="title-product" transition:name={`${slug} title`}>
      <a href={`/product/${product.slug}`}>
        {product.name}
      </a>
    </h3>
    <p transition:name={`${slug} description`}>
      {product.description}
    </p>
    <div class="product-actions" transition:name={`${slug} actions`}>
      <span class="">{product.price} €</span>
      <div>
        <button type="button" class="btn">Add to cart</button>
      </div>
    </div>
  </article>
</div>

<style>
  .title-product {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .product-actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }
</style>
